@use './variables' as vars;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
  background: url('/background.webp') top center/cover no-repeat;
  color: #ffff;
}

@media (max-width: 767px) {
  body {
    background: url('/background_mobile.webp') top center/cover no-repeat;
  }
}

#app {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), url('../assets/Onest/Onest-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), url('../assets/Onest/Onest-Black.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: local('Onest'), url('../assets/Onest/Onest-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplaySC';
  src: local('PlayfairDisplaySC'), url('../assets/Playfair_Display_SC/PlayfairDisplaySC-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplaySC';
  src: local('PlayfairDisplaySC'), url('../assets/Playfair_Display_SC/PlayfairDisplaySC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: 'Onest', sans-serif;
}
